<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
<link rel="stylesheet"
	href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css"
	type="text/css" />
<link th:href="@{/resources/css/style.css}" rel="stylesheet"
	href="../static/resources/css/style.css" type="text/css" />

</head>
<body>
	<div th:fragment="nav_artistverwaltung">
		<div class="ui buttons">
				<form th:action="@{/artistverwaltung/gruppen}">
					<button class="ui basic compact blue large button">
						<div th:text="Gruppen"></div>
					</button>
				</form>
				<form th:action="@{/artistverwaltung/veranstaltungen}">
					<button class="ui basic compact blue icon large button">
				
						<div th:text="Veranstaltungen"></div>
					</button>
				</form>
				<form th:action="@{/artistverwaltung/termine}">
					<button class="ui basic compact blue icon large button">
				
						<div th:text="'Kunden und Termine'"></div>
					</button>
				</form>
				<form th:action="@{/sperrzeiten}">
					<button class="ui basic compact blue icon large button">
						<div th:text="Sperrzeiten"></div>
					</button>
				</form>
		

		</div>
	</div>
</body>
</html>