<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
<link rel="stylesheet"
	href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css"
	type="text/css" />
<link th:href="@{/resources/css/style.css}" rel="stylesheet"
	href="../static/resources/css/style.css" type="text/css" />

</head>
<body>
	<nav th:fragment="kunden_nav">
		<div class="item" sec:authorize="hasAnyRole('ROLE_CUSTOMER')">
			<div class="ui big header">
				<i class="options icon"></i>
				Verwaltung
			</div>

			<form th:action="@{/kalender}">
				<button class="ui labeled fluid basic large blue icon button">
					<i class="calendar icon"></i>
					<div th:text="Kalender"></div>
				</button>
			</form>
			
			<form th:action="@{/kundenverwaltung/termine}">
				<button class="ui labeled fluid basic large blue icon button">
					<i class="calendar icon"></i>
					<div th:text="Veranstaltungen"></div>
				</button>
			</form>

			<form th:action="@{/bestellungen}">
				<button class="ui labeled fluid basic large blue icon button">
					<i class="euro icon"></i>
					<div th:text="Bestellungen"></div>
				</button>
			</form>
			
			
		</div>
	</nav>
</body>

</html>